{% extends "nav_buttons_base.html" %}

{% block below_nav_buttons %}
  <style>
      .upcoming {
          color: #4f89a1;
      }
      .live {
          color: #2ab55a;
      }
      .closed {
          color: #962c0f;
      }
      .item {
          font-size: 12pt;
          font-weight: bold;
      }
      .bid-price {
          width: 100px;
      }
  </style>

  <div class="m-2">
    <h1 class="primary-colour">Welcome to the {{ auction_setting.auction_name }}!</h1>
    {% include "user_details.html" %}
    <hr/>
    {% with auction_setting.auctiondescriptionbulletpoint_set.all as adbps %}
      {% if adbps %}
        <ul class="px-4 primary-colour">
          {% for adbp in adbps %}
            <li>{{ adbp.text }}</li>
          {% endfor %}
        </ul>
        <hr/>
      {% endif %}
    {% endwith %}

    <div id="accordion">

      <div class="card">
        <div class="card-header" id="header_upcoming">
          <h5 class="mb-0">
            <button class="btn btn-link font-weight-bold upcoming w-100 text-left" data-toggle="collapse" data-target="#collapse_upcoming" aria-expanded="false" aria-controls="collapse_upcoming">
              Upcoming Auctions
            </button>
          </h5>
        </div>
        <div id="collapse_upcoming" class="collapse" aria-labelledby="header_upcoming" data-parent="#accordion">
          <div class="card-body">
            {% if items_upcoming %}
              {% for item in items_upcoming %}
                <span id="promise_{{ item.id }}" data-status="upcoming">
                  <div class="row">
                    <div class="col-12 item mb-2 upcoming">
                      {{ item.promiser }} - {{ item.name }}
                    </div>
                    <div id="starting_price_{{ item.id }}" class="col-md-6 col-12 pb-1">
                      Starting price: £{{ item.formatted_base_price }}
                    </div>
                    <div id="winning_bid_{{ item.id }}" class="col-md-6 col-12 pb-1 primary-colour d-none">
                      Winning bid:
                      <span class="winning_price">{% if item.winning_price %}£{{ item.formatted_winning_price }}{% else %}None{% endif %}</span>
                      <span class="winning_name">{% if item.winning_name %}({{ item.winning_name }}){% endif %}</span>
                      {% with item.additional_winners as additional_winners %}
                        <span class="additional_winners">
                          {% if additional_winners %}
                            <br/>
                            {% for additional_winner in additional_winners %}
                              {{ additional_winner.position }}: £{{ additional_winner.price }} ({{ additional_winner.name }})<br/>
                            {% endfor %}
                          {% endif %}
                        </span>
                      {% endwith %}
                    </div>

                    <div id="your_bid_{{ item.id }}" class="col-md-6 col-12 d-none">
                      Your bid: £<input type="number" class="bid-price" name="bid_{{ item.id }}" id="bid_{{ item.id }}" min="0" max="1000"> <button class="btn btn-success btn-bid" type="button" data-promise-id="{{ item.id }}">Bid</button>
                    </div>
                    <div class="col-12 pt-1">
                      <span id="time_{{ item.id }}">
                        Opening at {{ item.dt_live|date:'d-m-Y H:i' }}
                      </span>
                      <span id="remaining_{{ item.id }}" class="font-weight-bold">

                      </span>
                    </div>
                  </div>
                  <hr/>
                </span>
              {% endfor %}
            {% else %}
              There are no upcoming auctions.
            {% endif %}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="header_live">
          <h5 class="mb-0">
            <button class="btn btn-link font-weight-bold live w-100 text-left" data-toggle="collapse" data-target="#collapse_live" aria-expanded="true" aria-controls="collapse_upcoming">
              Live Auctions
            </button>
          </h5>
        </div>
        <div id="collapse_live" class="collapse show" aria-labelledby="header_live" data-parent="#accordion">
          <div class="card-body">
            {% if items_live %}
              {% for item in items_live %}
                <span id="promise_{{ item.id }}" data-status="live">
                  <div class="row">
                    <div class="col-12 item mb-2 live">
                      {{ item.promiser }} - {{ item.name }}
                    </div>
                    <div id="starting_price_{{ item.id }}" class="col-md-6 col-12 pb-1 {% if item.winning_price %} d-none{% endif %}">
                      Starting price: £{{ item.formatted_base_price }}
                    </div>
                    <div id="winning_bid_{{ item.id }}" class="col-md-6 col-12 pb-1 primary-colour {% if not item.winning_price %} d-none{% endif %}">
                      Winning bid:
                      <span class="winning_price">{% if item.winning_price %}£{{ item.formatted_winning_price }}{% else %}None{% endif %}</span>
                      <span class="winning_name">{% if item.winning_name %}({{ item.winning_name }}){% endif %}</span>
                      {% with item.additional_winners as additional_winners %}
                        <span class="additional_winners">
                          {% if additional_winners %}
                            <br/>
                            {% for additional_winner in additional_winners %}
                              {{ additional_winner.position }}: £{{ additional_winner.price }} ({{ additional_winner.name }})<br/>
                            {% endfor %}
                          {% endif %}
                        </span>
                      {% endwith %}
                    </div>
                    <div id="your_bid_{{ item.id }}" class="col-md-6 col-12">
                      Your bid: £<input type="number" class="bid-price" name="bid_{{ item.id }}" id="bid_{{ item.id }}" min="0" max="1000"> <button class="btn btn-success btn-bid" type="button" data-promise-id="{{ item.id }}">Bid</button>
                    </div>
                    <div class="col-12 pt-1">
                      <span id="time_{{ item.id }}">
                        Closing at {{ item.dt_closed|date:'d-m-Y H:i' }}
                      </span>
                      <span id="remaining_{{ item.id }}" class="font-weight-bold">
                        ({{ item.time_until_close }} remaining)
                      </span>
                    </div>
                  </div>
                  <hr/>
                </span>
              {% endfor %}
            {% else %}
              There are no live auctions.
            {% endif %}
          </div>
        </div>
      </div>

      <div class="card">

        <div class="card-header" id="header_closed">
          <div class="btn-group w-100" role="group">
            <button class="btn btn-link font-weight-bold text-left closed w-100 text-left" data-toggle="collapse" data-target="#collapse_closed" aria-expanded="false" aria-controls="collapse_upcoming">
              Closed Auctions
            </button>
          </div>
        </div>
        <div id="collapse_closed" class="collapse" aria-labelledby="header_closed" data-parent="#accordion">
          <div class="card-body">
            {% if items_closed %}
              {% for item in items_closed %}
                <span id="promise_{{ item.id }}" data-status="closed">
                  <div class="row">
                    <div class="col-12 item mb-2 closed">
                      {{ item.promiser }} - {{ item.name }}
                    </div>
                    <div id="starting_price_{{ item.id }}" class="col-md-6 col-12 pb-1 d-none">
                      Starting price: £{{ item.formatted_base_price }}
                    </div>
                    <div id="winning_bid_{{ item.id }}" class="col-md-6 col-12 pb-1 primary-colour">
                      Winning bid:
                      <span class="winning_price">{% if item.winning_price %}£{{ item.formatted_winning_price }}{% else %}None{% endif %}</span>
                      <span class="winning_name">{% if item.winning_name %}({{ item.winning_name }}){% endif %}</span>
                      {% with item.additional_winners as additional_winners %}
                        <span class="additional_winners">
                          {% if additional_winners %}
                            <br/>
                            {% for additional_winner in additional_winners %}
                              {{ additional_winner.position }}: £{{ additional_winner.price }} ({{ additional_winner.name }})<br/>
                            {% endfor %}
                          {% endif %}
                        </span>
                      {% endwith %}
                    </div>
                    <div id="your_bid_{{ item.id }}" class="col-md-6 col-12 d-none">
                      Your bid: £<input type="number" class="bid-price" name="bid_{{ item.id }}" id="bid_{{ item.id }}" min="0" max="1000"> <button class="btn btn-success btn-bid" type="button" data-promise-id="{{ item.id }}">Bid</button>
                    </div>
                    <div class="col-12 pt-1">
                      <span id="time_{{ item.id }}">
                        Closed at {{ item.dt_closed|date:'d-m-Y H:i' }}
                      </span>
                      <span id="remaining_{{ item.id }}" class="font-weight-bold">

                      </span>
                    </div>
                  </div>
                  <hr/>
                </span>
              {% endfor %}
            {% else %}
              There are no closed auctions.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="error_modal_label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" id="error_modal_text">

          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="success_modal_label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" id="success_modal_text">

          </div>
          <button type="button" class="btn btn-success" data-dismiss="modal">Yay!</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $("#nav_bidding").addClass("active")
    setTimeout(updateBids, {{ auction_setting.bid_sync_regularity }} * 1000);
    
    function updateBids(){
      $.ajax({
        url: '/bidding/update_bids/',
        contentType: "application/json",
        success: function (data) {
          for (const [id, item_updates] of Object.entries(data["item_updates"])) {
            let status = item_updates["status"]
            if (status == "live") {
              let price = item_updates["winning_price"]
              let name = item_updates["winning_name"]
              if (price && name) {
                $("#starting_price_" + id).addClass("d-none")
                let winning_bid_div = $("#winning_bid_" + id)
                winning_bid_div.find(".winning_price").html("£" + price)
                winning_bid_div.find(".winning_name").html("(" + name + ")")
                winning_bid_div.removeClass("d-none")
                if (item_updates["additional_winners"].length > 0) {
                  let additional_winners = item_updates["additional_winners"]
                  let additional_winners_text = "<br/>"
                  for (let i = 0; i < additional_winners.length; i++) {
                    additional_winners_text += additional_winners[i]["position"] + ": £" + additional_winners[i]["price"] + " (" + additional_winners[i]["name"] + ")<br/>"
                  }
                  winning_bid_div.find(".additional_winners").html(additional_winners_text)
                }
              }
              let item_span = $("#promise_" + id)
              let old_status = item_span.attr("data-status")
              if (old_status == "upcoming") {
                item_span.attr("data-status", "live")
                item_span.find(".upcoming").removeClass('upcoming').addClass('live')
                $("#your_bid_" + id).removeClass("d-none")
                let dt_closed = item_updates["dt_closed"]
                let time_div = $("#time_" + id)
                time_div.html("Closing at " + dt_closed)
                $("#collapse_live").find(".card-body").prepend(item_span.prop('outerHTML'))
                item_span.remove()
              }
              let remaining = item_updates["remaining"]
              if (remaining) {
                  let remaining_div = $("#remaining_" + id)
                  let remaining_text = " (" + item_updates["remaining"] + " remaining)"
                  remaining_div.html(remaining_text)
              }
            }
            else if (status == "closed") {
              let item_span = $("#promise_" + id)
              let old_status = item_span.attr("data-status")
              if (old_status == "live") {
                $("#starting_price_" + id).addClass("d-none")
                $("#winning_bid_" + id).removeClass("d-none")
                item_span.attr("data-status", "closed")
                item_span.find(".live").removeClass('live').addClass('closed')
                $("#your_bid_" + id).addClass("d-none")
                let time_div = $("#time_" + id)
                let time_text = time_div.html()
                time_text = time_text.replace("Closing at", "Closed at")
                time_div.html(time_text)
                $("#remaining_" + id).html("")
                $("#collapse_closed").find(".card-body").prepend(item_span.prop('outerHTML'))
                item_span.remove()
              }
            }
          }
        }
      });
      setTimeout(updateBids, {{ auction_setting.bid_sync_regularity }} * 1000);
    }

    $(document).on("keyup", ".bid-price", function(e){
      if(e.keyCode == 13)
      {
        $(this).parent().find(".btn-bid").click()
      }
    });

    $(document).on("click", ".btn-bid", function() {
        let promise_id = $(this).attr("data-promise-id")
        let price = $(this).parent().find(".bid-price").val()
        let name = $("#name").val()
        let phone_number = $("#phone_number").val()
        if (!name) {
          add_error("You must enter a name to bid (at the top of the page).")
        }
        else if (!phone_number) {
          add_error("You must enter a phone number to bid (at the top of the page).")
        }
        else if (!price) {
          add_error("You must - a price to bid on this item.")
        }
        else if (price > {{ auction_setting.max_bid }}) {
          add_error("Please enter a reasonable price - we're not convinced you're that rich!")
        }
        else {
          bootbox.confirm({
            message: "Are you sure that you wish to bid £" + price + " on this {% if auction_setting.is_promise_auction %}promise{% else %}item{% endif %}?",
            buttons: {
              confirm: {
                label: 'Yes',
                className: 'btn-success'
              },
              cancel: {
                label: 'No',
                className: 'btn-danger'
              }
            },
            callback: function (result) {
              if (result == true) {
                $.ajax({
                  url: '/bidding/add_bid/' + promise_id + '/' + price + '/' + encodeURIComponent(name) + '/' + encodeURIComponent(phone_number) + '/',
                  contentType: "application/json",
                  success: function (data) {
                    let error = data["error"]
                    if (error) {
                      add_error(error)
                    }
                    else {
                      add_success("You have successfully bid £" + price + " on this {% if auction_setting.is_promise_auction %}promise{% else %}item{% endif %}!")
                      updateBids()
                    }
                  }
                });
              }

            }
          });

        }
    })

    function add_error(error_text) {
      $("#error_modal_text").html(error_text)
      $('#error_modal').modal()
    }

    function add_success(success_text) {
      $("#success_modal_text").html(success_text)
      $('#success_modal').modal()
    }
  </script>
{% endblock %}