{% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}"/>
<title>Promise Auction Bidding System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .blue {
        color: #000080;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="m-2">
  <h1 class="blue">Welcome to the Promise Auction Bidding System!</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% include "user_details.html" %}
    <input class="btn btn-primary w-100" type="submit" value="Join Auction">
  </form>
</div>